/* -----------------------------------
  WEB ARCHIVE
-------------------------------------- */
.year-selector{
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: snow;
  padding: 6px 12px;
  border-radius: 50px;
  font-size: 1rem;
  font-family: sans-serif;
}

.archive-selector {
  border: none;
  transition: all .2s ease-in-out;
  background-color: transparent;
}

/*IE*/
.archive-selector::-ms-expand {
  display: none;
}

.archive-selector:focus {
  outline: 0;
}

/* -----------------------------------
  IFRAME PAGE
-------------------------------------- */
#servedFrame {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    top: 0;
    left: 0;
  }