/* -----------------------------------
  WEB ARCHIVE
-------------------------------------- */
.archive-selector {
  position: fixed;
  bottom: 20px;
  left: 20px;
  box-shadow: 0px 0px 20px -2px hsla(0, 0%, 0%, 0.2);
  padding: 6px 12px;
  border: 1px solid #cbd1d8;
  transition: all .2s ease-in-out;
  border-radius: 7px;
  background-color: hsl(0, 0%, 97%);
}

/*IE*/
.archive-selector::-ms-expand {
  display: none;
}

.archive-selector:focus {
  outline: 0;
}

/* -----------------------------------
  IFRAME PAGE
-------------------------------------- */
#servedFrame {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    top: 0;
    left: 0;
  }