<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sunset(s) ☀ Views</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    
<span id=txt>(look at the console)</span>

<div id=lh>
<div id="lhFrame" class="frame"></div>
<div id="lhSky"></div>
<div id="lhSun"></div>
<div id="lhSea"></div>
<div id="lhWaves"></div>
<div id="lhWaves1"></div>
<div id="info">Le Havre, France</div>
</div>

<div id=cu>
<div id="cuFrame" class="frame"></div>
<div id="cuSky"></div>
<div id="cuSun"></div>
<div id="cuSea"></div>
<div id="cuWaves"></div>
<div id="cuWaves1"></div>
<div id="info">Castro-Urdiales, Spain</div>
</div>

<div id=sf>
<div id="sfFrame" class="frame"></div>
<div id="sfSky"></div>
<div id="sfSun"></div>
<div id="sfSea"></div>
<div id="sfWaves"></div>
<div id="sfWaves1"></div>
<div id="info">San Francisco, USA</div>
</div>

<div id=hk>
<div id="hkFrame" class="frame"></div>
<div id="hkSky"></div>
<div id="hkSun"></div>
<div id="hkSea"></div>
<div id="hkWaves"></div>
<div id="hkWaves1"></div>
<div id="info">Hong-Kong, China</div>
</div>
    <script id="script" src="script.js"></script>
</body>
</html>