body{
    font-size: 1.4rem;
    color: black;
    text-align: center;
    font-family: 'rubikregular';
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-weight: 100;
    font-size: 1.4rem;
    position: fixed;
    font-family: 'rubikitalic';
}

li {
    position: absolute;
    width: 100vw;
    top: 90vh;
    height: 70vh;
    z-index: 1;
    font-family: 'rubikregular';

}
.footer {
    color: white;
    font-size: 1rem;
    text-shadow: 0px 0px 20px black;
    position: fixed;
    bottom: 5px;
    left: 50vw;
    width: auto;
    transform: translateX(-50%);
    z-index: 3;
}


/* Sunset CSS*/
.background {
  /*! z-index: ; */
  position: absolute;
  top: 0;
  left: 0;
}

/* .sky {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(7, 7, 104) 35%, rgb(0, 212, 255) 100%);
} */

.sun {
  position: fixed;
  bottom: -275px;
  left: 50vw;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(246,225,16,1) 0%, rgba(252,176,69,1) 50%);
  transform: translateX(-50%);
  border: solid red 5px 21;
  -webkit-box-shadow: 0px 0px 49px 15px rgba(255,191,0,0.81);
  -moz-box-shadow: 0px 0px 49px 15px rgba(255,191,0,0.81);
  box-shadow: 0px 0px 49px 15px rgba(255,191,0,0.6);
}
