@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.woff2') format('woff2'),
        url('../fonts/Nunito-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBBOS';
    src: url('../fonts/BBBOcelot-Smooth.woff2') format('woff2'),
        url('../fonts/BBBOcelot-Smooth.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'rubikblack';
    src: url('../fonts/rubik-black-webfont.woff2') format('woff2'),
         url('../fonts/rubik-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikblack_italic';
    src: url('../fonts/rubik-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikbold';
    src: url('../fonts/rubik-bold-webfont.woff2') format('woff2'),
         url('../fonts/rubik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikbold_italic';
    src: url('../fonts/rubik-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikitalic';
    src: url('../fonts/rubik-italic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubiklight';
    src: url('../fonts/rubik-light-webfont.woff2') format('woff2'),
         url('../fonts/rubik-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubiklight_italic';
    src: url('../fonts/rubik-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikmedium';
    src: url('../fonts/rubik-medium-webfont.woff2') format('woff2'),
         url('../fonts/rubik-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikmedium_italic';
    src: url('../fonts/rubik-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikregular';
    src: url('../fonts/rubik-regular-webfont.woff2') format('woff2'),
         url('../fonts/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}