@media screen and (max-width: 650px) {

  html {
    font-size: 1.3rem;
    line-height: 1.4;
  }
  .card {
    width: 85vw;
  }
  .card-text img{
    max-height: 60px;
    max-width: 60px;
    margin: var(--spacing-s) var(--spacing-s) var(--spacing-s) 0;
  }
  .card-text p{
    margin: var(--spacing-s) 10px var(--spacing-s) var(--spacing-s);
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .projects-hide {
    display: none !important;
    transition: opacity .3s ease-in-out, visibility 1s ease-in-out;
  }

  /* -----------------------------------
  CURSOR
  -------------------------------------- */
  .cursor {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1;
    transition: all 0s;
    z-index: 999;
    display: block;
  }
  .cursor.click {
    width: 50px;
    height: 50px;
    left: -25px;
    top: -25px;
    opacity: 0;
    transition: width 0.33s, height 0.33s, left 0.33s, top 0.33s, opacity 0.33s;
    z-index: 999;
  }

}