@media screen and (max-width: 981px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media screen and (max-width: 650px) {

  html {
    font-size: 1.3rem;
    line-height: 1.4;
  }

  .archive-selector {
    display: none;
  }
  
  .card {
    font-size: 1rem;
    width: 80vw;
  }
  .card-text img{
    max-height: 60px;
    max-width: 60px;
    margin: var(--spacing-s) var(--spacing-s) var(--spacing-s) 0;
  }
  .card-text p{
    margin: var(--spacing-s) 10px var(--spacing-s) var(--spacing-s);
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-hide {
    display: none !important;
    transition: opacity .3s ease-in-out, visibility 1s ease-in-out;
  }

  .controls {
    grid-template-columns: 1fr !important;
    grid-gap: 20px;
  }

  .col2, .col3, .col4 {
    grid-template-columns: 1fr !important;
  }

}