:root{
  --spacing-l: 30px;
  --spacing-m: 25px;
  --spacing-s: 17px;

  --background: snow;
  --projectsBack: tan;

  --radius-img: 7px;
  --border-rad: 20px;

  --thisColor: dimgray;
  --flash: greenyellow;
}

html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'rubikregular';
  /* font-family: 'BBBOS'; */

  scrollbar-width: none;
}

iframe {
  border-radius: var(--radius-img);
  
}

body::-webkit-scrollbar {
  display: none;
}

html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background: var(--background);
  height: 100%;
  width: 100%;
  line-height: 1.4;
  overflow: scroll;
  overflow-x: hidden;
  /* cursor: url(../pointer/blue.cur), pointer; */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}


/* -----------------------------------
SCREEN HOME
-------------------------------------- */
.screen-home{
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: var(--thisColor);
}

.blockColor{
  background: var(--flash)!important;
}

.middle{
  position: fixed;
  top: 50vh; left: 50vw;
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  font-size: 1.3rem;

}
/* -----------------------------------
CARD STUFF
-------------------------------------- */
.card {
  width: 500px;
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.2);
  background: var(--background);
  border-radius: var(--border-rad);
  position: relative;
  z-index: 2;
}

.card-text{
  display: flex;
  font-size: 1.3rem;
}

.card-text p{
  margin: var(--spacing-m) 10px var(--spacing-s) var(--spacing-m);
}

.card-text img{
  max-height: 100px;
  max-width: 100px;
  float: right;
  border-radius: 50%;
  margin: var(--spacing-m) var(--spacing-m) var(--spacing-s) 0;
}

.card-contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  align-items: center;
  text-align: center;
  border-top: 1px solid #80808040;
}

.card-contact > a{
  background: var(--background);
  border-radius: var(--border-rad);
  padding: var(--spacing-s) var(--spacing-s) var(--spacing-s) var(--spacing-s);
}

.card-contact > a:nth-child(1) {
  border-right: 1px solid #80808040;
  border-radius: 0 0 0 var(--border-rad);;
}

.card-contact > a:nth-child(2) {
  border-radius: 0 0 var(--border-rad) 0;
}

.card-contact > a:nth-child(1):hover, .card-contact > a:nth-child(1):active {
  background: dodgerblue;
  text-decoration: none;
  cursor: pointer;
}

.card-contact > a:nth-child(2):hover, .card-contact > a:nth-child(2):active  {
  background: gold;
  text-decoration: none;
  cursor:ne-resize;
}


/* -----------------------------------
SCREEN PROJECTS
-------------------------------------- */
.screen-projects{
  border-top: 1px solid var(--thisColor);

  background-color: var(--thisColor);
  z-index: 2;
  position: relative;
  transition: all .3s ease-in-out;
  border-radius: var(--border-rad) var(--border-rad) 0 0;
}

.projects{
  height: auto;
  position: relative;
  z-index: 3;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  z-index: 1;
}

.projects a {
  height: auto;
  box-sizing: border-box;
  min-width: 100%;

  display: grid;
  align-items: center;
  justify-self: center;
  padding: 40px;
  background-color: var(--projectsBack);
  /* border-radius: 15px; */

  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-in-out, display 1s ease-in-out;

  transition: all .3s ease-in-out;

}

.projects img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.projects-hide {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity .3s ease-in-out, display 1s ease-in-out;
  display: none !important;
}

.projectThumb {
  border-radius: 0;
  transition: all .3s ease-in-out;
}

.projectThumb:hover {
  border-radius: 100%;
  transition: all .3s ease-in-out;
}

.buttonsFilter{
  border: 1px solid var(--thisColor);
  padding: 4px 12px;
  border-radius: var(--border-rad);
  transition: all .3s ease-in-out;
}

.buttonsFilter:hover {
  cursor: pointer;
}


#buttonWeb:hover, .highlightWeb {
  background-color: lightskyblue !important;
  transition: all .3s ease-in-out;
}

#buttonThreed:hover, .highlightThreed {
  background-color: tomato !important;
  transition: all .3s ease-in-out;
}

#buttonStuff:hover, .highlightStuff {
  background-color: orange !important;
  transition: all .3s ease-in-out;
}

#buttonPrint:hover, .highlightPrint {
  background-color: yellowgreen !important;
  transition: all .3s ease-in-out;
}



/* -----------------------------------
PROJETS SHOW
-------------------------------------- */

.projectshow{
  background-color: var(--thisColor);
  margin: 0;
  padding: var(--spacing-m);
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
  font-size: 1.3rem;
  justify-items: center;
}

.projectshow p {
  margin: 0 0 var(--spacing-l) 0;
  max-width: 700px;
  color: var(--background);
}

.projectshow img, video, .videoVim {
  max-width: 100%;
  color: var(--background);
  border-radius: var(--radius-img);
  display: block;
  margin: 0 auto var(--spacing-m) auto;
  height: auto;
  max-height: 80vh;
}


h1{
  color: var(--background);
  padding: 0;
  margin: var(--spacing-s) 0 var(--spacing-s) 0;
}


.col img{
  width: 100%;
  max-height: 80vh;
}

.col2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--spacing-m);
  position: relative;
  justify-items: center;
}

.col3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--spacing-m);
  max-width: 100%;
  position: relative;
  justify-items: center;
}

.col4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--spacing-m);
  max-width: 100%;
  position: relative;
  justify-items: center;
}