@font-face {
  font-family: "Aerobik";
  src: url("fonts/Aerobik-Regular.woff2") format("woff2"),
    url("fonts/Aerobik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ambitregular";
  src: url("fonts/ambit-regular-webfont.woff2") format("woff2"),
    url("fonts/ambit-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root{

  --border-rad: 20px;
  --spacing-l: 20px;
  --spacing-m: 12px;
  --spacing-s: 6px;

  --lines: hsla(0, 0%, 0%, 0.2);

}

html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "ambitregular", sans-serif;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background: hsl(0, 0%, 97%);
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}



/* -----------------------------------
TIMER
-------------------------------------- */


/* -----------------------------------
NIGHT STUFF
-------------------------------------- */
#nightscreen{
  height: 100%;
  width: 100%;
  background-color: black;
  top: 0; left: 0;
  position: fixed;
  z-index: 999;
  display: grid;
  color: snow;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

.night{
  display: none !important;
}

/* -----------------------------------
FIRST SECTION
-------------------------------------- */
.first {
  width: 100%;
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.2);
  border-bottom: 1px solid var(--lines);
  background: hsl(0, 0%, 97%);
  z-index: 2;
  margin: auto;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: var(--spacing-m) var(--spacing-m) 12px var(--spacing-m);
  z-index: 999;
}


#me{
  max-height: 40px;
  max-width: 40px;
  float: right;
  border-radius: 50%;
}

#me:hover {
  cursor: pointer;
  animation: uhhuhhh 1.5s ease-in-out infinite;
  animation-direction: alternate;
  transform: scaleX(120%) scaleY(100%);

}

@keyframes uhhuhhh {
  0% {
    transform: scaleX(100%) scaleY(100%);
  }
  50% {
    transform: scaleX(120%) scaleY(100%);
  }
  100% {
    transform: scaleX(100%) scaleY(120%);
  }
}

.infos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--lines);
  border-radius: var(--border-rad);
  width: 100%;
  margin-bottom: var(--spacing-l);
  height: 60px;
}

.activate {
  transform: translateY(+60px) !important;
  transition: all 0.5s ease-in-out;

}

.infos > a {
  background: hsl(0, 0%, 97%);
  border-radius: var(--border-rad);
  padding: 8px;  height: 100%;
  align-items: center;
  display: inherit;
}

.infos > a:nth-child(1) {
  border-right: 1px solid var(--lines);
  border-radius: 0 0 0 var(--border-rad);
}

.infos > a:nth-child(2) {
  border-radius: 0 0 var(--border-rad) 0;
}

.infos > a:nth-child(1):hover, .infos > a:nth-child(1):active {
  background: dodgerblue;
  cursor: pointer;
}

.infos > a:nth-child(2):hover, .infos > a:nth-child(2):active  {
  background: gold;
}


/* -----------------------------------
PORJECT LIST SECTION
-------------------------------------- */
.second {
  transition: all 0.5s ease-in-out;
  z-index: 997;
}

.square{
  height: 25px; width: 25px;

}

.work-list > div {
  display: grid;
  grid-template-columns: auto 2fr 1fr 0fr;
  gap: 20px;
  align-items: baseline;
  margin: 10px 20px;
  text-align: left;
}

.work-list div:hover {
  opacity: 0.5;
}


.work-list  div span:nth-child(4) {
  text-align: left;
}

.work-list  div:last-child {
  border-bottom: none;
}

/* -----------------------------------
MAIL STUFF
-------------------------------------- */
#mailcopied{
  height: auto;
  position: fixed;
  left: 50vw;
  transform: translate(-50%, 100%);
  bottom: 0vh;
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.5);
  background: hsl(0, 0%, 97%);
  border-radius: var(--border-rad);
  z-index: 2;
  transition: all .5s ease-in-out;
  font-size: 8vw;
  padding: var(--spacing-l) var(--spacing-l) var(--spacing-m) var(--spacing-l);
  line-height: 1;
  z-index:998;
  width: max-content;
}

.mailappear{
  bottom: 50vh !important;
  transform: translate(-50%, 50%) !important;
  transition: all .5s ease-in-out;
}
.mailexit{
  bottom: 100vh !important;
  transform: translate(-50%, -100%) !important;
  transition: all .5s ease-in-out;
}
.mailreset{
  display: none !important;
  transform: translate(-50%, 110%);
  bottom: 0vh;
  transition: all .5s ease-in-out;
}


@media screen and (max-width: 650px) {

  html {
    font-size: 1.3rem;
    line-height: 1.4;
  }

  .cursor {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: skyblue;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1;
    transition: all 0s;
    z-index: 999;
    display: block;
  }

  .cursor.click {
    width: 50px;
    height: 50px;
    left: -25px;
    top: -25px;
    opacity: 0;
    transition: width 0.50s, height 0.50s, left 0.50s, top 0.50s, opacity 0.50s;
    z-index: 999;

  }

  .work-list > div {
    grid-template-columns: auto 1fr;
    row-gap: 50px;
    font-size: 0.9rem;;
  }

  .work-list  div span:nth-child(4),span:nth-child(3) {
    display: none;
  }
  }