
:root{

  --border-rad: 20px;
  --spacing-m: 25px;
  --spacing-s: 17px;

}

.time{
  position: fixed;
  left: 30px;
  top: 30px;
  padding: var(--spacing-s) var(--spacing-s) 12px var(--spacing-s);
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.2);
  background: hsl(0, 0%, 97%);
  border-radius: var(--border-rad);
  line-height: 1;
  font-size: 0.9rem;
}

#nightscreen{
  height: 100%;
  width: 100%;
  background-color: black;
  top: 0; left: 0;
  position: fixed;
  z-index: 999;
  display: grid;
  color: snow;
  align-items: center;
  text-align: center;
}

.night{
  display: none !important;
}

html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: sans-serif;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background: hsl(0, 0%, 97%);
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}


.content {
  margin-left: 50vw;
  margin-top: 50vh;
  transform: translate(-50%, -50%);
  width: 500px;
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.2);
  background: hsl(0, 0%, 97%);
  border-radius: var(--border-rad);
  z-index: 2;
  position: relative;
}

.text{
  display: flex;
}


.text p{
  margin: var(--spacing-m) 10px var(--spacing-s) var(--spacing-m);
}

.text img{
  max-height: 100px;
  max-width: 100px;
  float: right;
  border-radius: 50%;
  margin: var(--spacing-m) var(--spacing-m) var(--spacing-s) 0;
}

.infos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  align-items: center;
  text-align: center;
  border-top: 1px solid #80808040;
  z-index:3;
}

.infos > a{
  background: hsl(0, 0%, 97%);
  border-radius: var(--border-rad);
  padding: var(--spacing-s) var(--spacing-s) var(--spacing-s) var(--spacing-s);
}

.infos > a:nth-child(1) {

  border-right: 1px solid #80808040;
  border-radius: 0 0 0 var(--border-rad);;
}

.infos > a:nth-child(2) {
  border-radius: 0 0 var(--border-rad) 0;
}


.infos > a:nth-child(1):hover, .infos > a:nth-child(1):active {
  background: dodgerblue;
  text-decoration: none;
  cursor: grab;
}

.infos > a:nth-child(2):hover, .infos > a:nth-child(2):active  {
  background: gold;
  text-decoration: none;
  cursor:ne-resize;
}

/* 
.projects {
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.2);
  background: hsl(0, 0%, 97%);
  border-radius: 20px;
  overflow: scroll;
  height: 60vh;
  width: calc(70vw - 150px);

  top: 50px;
  position: absolute;
  right: 50px;
}

.work-list > a {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: auto 10% 30%;
  gap: 10px;
  overflow-x: hidden;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 20px 25px;
}

.work-list > a:hover {
  text-decoration: none;
  background: yellowgreen;
}

.work-list > a:first-child:hover {
  border-radius: 20px 20px 0 0;
}

.work-list > a:last-child:hover{
  border-radius: 0 0 20px 20px;
}

.work-list > a:last-child{
  border-bottom: none !important;
}

.work-list > a > span:nth-child(1)  {
  text-align: left;
}

.work-list > a > span:nth-child(2) {
  text-align: center;
}

.work-list > a > span:nth-child(3) {
  text-align: right;
} */

/* -----------------------------------
MAIL STUFF
-------------------------------------- */

#mailcopied{
  height: auto;
  background: hsl(0, 0%, 97%);
  border-radius: 0 0 var(--border-rad) var(--border-rad);
  padding: 13px var(--spacing-s) var(--spacing-s) var(--spacing-s);
  z-index: 1;
  position: relative;
  transform: translate(-50%,-305%);
  width: 400px;
  margin-left: 50vw;
  text-align: center;
  background-color: salmon;
}

.mailappear{
  transform: translate(-50%,-200%) !important;
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.5);
  transition: all .5s ease-in-out;
}

.mailexit{
  transform: translate(-50%,-100%);
  transition: all .5s ease-in-out;
}

/* -----------------------------------
CURSOR
-------------------------------------- */
.cursor {
  display: none;
}

@media screen and (max-width: 650px) {

  html {
    font-size: 1.3rem;
    line-height: 1.4;
  }

  .content {
    width: 85%;
    border-radius: var(--border-rad);
  }

  #mailcopied{
    border-radius: 0 0 var(--border-rad) var(--border-rad);
    padding: 13px var(--spacing-s) var(--spacing-s) var(--spacing-s);
    transform: translate(-50%,-200%);
    width: 75%;
    margin-left: 50vw;
  }

  .text img{
    max-height: 60px;
    max-width: 60px;
    margin: var(--spacing-s) var(--spacing-s) var(--spacing-s) 0;
  }

  .text p{
    margin: var(--spacing-s) 10px var(--spacing-s) var(--spacing-s);
  }

  /* -----------------------------------
CURSOR
-------------------------------------- */
.cursor {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 1;
  transition: all 0s;
  z-index: 999;
  display: block;
}

.cursor.click {
  width: 50px;
  height: 50px;
  left: -25px;
  top: -25px;
  opacity: 0;
  transition: width 0.33s, height 0.33s, left 0.33s, top 0.33s, opacity 0.33s;
  z-index: 999;

}


}