body {
    margin: 0;
    overflow: hidden;
  }
  
  textarea {
    resize: none;
  }
  
  
  #bot {
    z-index: 3;
    position: fixed;
    bottom: 300px;
    right: 250px;
    display: flex;
  }
  
  textarea[name="userInput"]:hover{
  }
  
  textarea[name="userInput"]:focus{
    outline: none;
  }
  
  textarea[name="userInput"]{
    width: 350px;
    font-size: 30px;
    border-radius: 5px;
    background-color: #ffaaaa;
    height: 150px;
    border: none;
    padding: 10px;
    font-family: 'quicksandlight', sans-serif;
    word-break: break-word;
    word-wrap: break-word;
    z-index: 12;
    margin-left: 110px;
    margin-top: 90px;
  }
  
  button[name="envoyer"]{
    margin-top: 10px;
    width: 250px;
  }
  
  
  .sun {
    height: 10vw;
    width: 10vw;
    background-color: gold;
    position: absolute;
    border-radius: 50%;
    padding: 40px;
    top: -20vw;
    left: calc(50vw - 5vw - 80px);
    font-family: 'mograregular', cursive;
    font-size: 30px;
    z-index: 99;
    word-wrap: break-word;
    word-break: break-word;
    animation: sunset 10s ease-in-out;
    animation-delay: 0ms;
  }
  
  
  @keyframes sunset {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(200vh);
    }
  }
  
  #chat {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    text-align: center;
  }
  
  #cloud {
    position: absolute;
    z-index: 10;
  }
  
  #cloud2 {
    position: absolute;
    z-index: 10;
    top: 10vmin;
    left: -10vmin;
    width: 500px;
  }
  
  #cloud3 {
    position: absolute;
    z-index: 10;
    bottom: 10vmin;
    left: 20vw;
    width: 300px;
  }
  